<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>CurhatMe</title>
    <!-- <link rel="shortcut icon" type="image" href="bunga-min.png"/> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type = "text/css" href="{% static 'css/styling.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Patua+One|Roboto+Slab&display=swap" rel="stylesheet">
</head>

<body class="home">
    <div class="row align-items-center">
        <div class="col-md-5">
            <img id="logo" src="{% static 'images/logo.png' %}">
        </div> 
        <div class="col-md-7">
            <p id="tagline">Teman curhat <br>yang selalu ada</p>
            <a href="{% url 'authentication:login' %}"><button type="button" class="btn btn-secondary btn-sm" id="yuk3">yuk curhat</button></a>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
    <script src="{% static 'js/japa.js' %}"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
     
</body>