<!DOCTYPE html>
{% load static %}

<html>
	<head>
		<title>Login</title>

		<meta charset="utf-8">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type = "text/css" href="{% static 'css/styling.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Patua+One|Roboto+Slab&display=swap" rel="stylesheet">

	</head>

	<body>
    <div class = "container text-center mt-5 mb-5" id="contain_bg">

    {% if user.is_authenticated %}

    <p>
    You are already logged in as {{request.user.username}}!<br>
    Click here to <a href="#modal1" class="modal-trigger red-font"> log out</a><br>
    Click here to go to your <a href="/thepost/" class="red-font"> timeline</a>
    </p>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Are you sure you want to logout?</h4>
      <p>We will miss you!</p>
    </div>
    <div class="modal-footer">
        <a href="#" class="modal-close" id="yuk4">Cancel</a>
        <a href="/logout/" class="modal-close" id="yuk5">Good bye:(</a>
    </div>
  </div>

    {% else %}
    
    <div id="ajax">

    <div id="notvalid"></div>

    {% if messages %}
        <p class="messages">
            {% for message in messages %}
                <p {% if message.tags %} class="{{ message.tags }}"{% endif %} id="red">{{ message }}</p>
            {% endfor %}
        </p>
    {% endif %}
    
    <form method="POST" id="post-form">
        {% csrf_token %}
        {{form.as_p}}

        <button type="submit" id="yuk1">login</button>
    </form>
    <br>

    <p>
    If you don't already have an account, <a href="/register" id="link"> click here! </a>
    </p>
    </div>

    </div>

    {% endif %}

    <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
    <script src="{% static 'js/japa.js' %}"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    </body>
</html>
