<!DOCTYPE html>
{% load static %}

<html>
	<head>
		<title>Register</title>

		<meta charset="utf-8">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type = "text/css" href="{% static 'css/styling.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Patua+One|Roboto+Slab&display=swap" rel="stylesheet">

	</head>

	<body>

    {% load crispy_forms_tags %}

    <div class = "container text-center mt-5 mb-5" id="contain_bg">

    {% if messages %}
        <p class="messages">
            {% for message in messages %}
                <p {% if message.tags %} class="{{ message.tags }}"{% endif %} id="red">{{ message }}</p>
            {% endfor %}
        </p>
    {% endif %}

        <form method="POST">
        {% csrf_token %}
        {{form|crispy}}

        <button type="submit" id="yuk2">register</button>
    </form>
    <br>

    <p>
    If you already have an account, <a href="/login" id="link"> click here! </a>
    </p>
    </div>

    <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
    <script src="{% static 'js/japa.js' %}"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

	</body>
</html>