{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"> 
    <link href="https://fonts.googleapis.com/css?family=Patua+One|Roboto+Slab&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>Search | CurhatMe</title>
</head>

<body>
    <div class="container text-center">
        <label id="labelreply" for="id_reply">Apa yang mau anda cari?</label>
            <!-- Search form -->
        <div class="md-form mt-0">
            <input class="form-control" type="text" placeholder="Search Tags" aria-label="Search" id="searchbox">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="search">Search</button>
            <a href="{% url 'thepost:timeline' %}">
                    <button type="button" class="btn btn-outline-dark">Back</button>  
            </a>
        </div>
        <div class="row">
            <div class="col-md-8 offset-2">
                <div class="thegridbottom">
                    <div class="card">

                    </div>
                </div>
            </div>
        </div>
    </div>      
    <script src="{% static 'js/script.js' %}"></script>
</body>
