{% load static %}

{% include "navbar.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"> 
    <link rel="stylesheet" type="text/css" href="{% static 'css/navstyle.css' %}"> 
    <link href="https://fonts.googleapis.com/css?family=Patua+One|Roboto+Slab&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>Timeline | CurhatMe</title>
</head>
<body>
    {% block content %}
    <div class="container text-center">
        <form method="post">
            {% csrf_token %}
            <div class="form-row">
                <div class="col-sm-1"></div>
                <div class="form-group col-sm-10">
                    <label id="labelreply" for="id_reply">Ada cerita apa hari ini?</label>
                    {% for fields in formCurhat %}
                    <br>
                    {{ fields }}
                    {% endfor %}
                    <label id="labelreply" for="id_reply">Tags</label>
                    <input type="submit" class="btn btn-secondary btn-sm" value="Curhat" id="balas"></button>
                </div>
            </div>
        </form>
        <div id="flip">Timeline <br>
            <p style="font-size: xx-small;">(Click to Swipe Up and Down)</p>
        </div>
        <a href="{% url 'thepost:search' %}">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="search">Search Tags</button>
        </a>
        {% for i in listCurhat %}
        <div class="row">
            <div class="col-md-8 offset-2">
                <div class="thegridbottom">
                    <div class="card">  
                        <div class="card-header">
                            <p class="tags">#{{ i.tags }}</p>
                        </div>
                        <div class="card-body">
                            <p class="curhat">{{ i.story }}</p>
                            <a href="{% url 'thereply:reply' %}">
                                <img src="{% static 'images/reply.png' %}" width="35" alt="">
                                <p style="font-size: 1vw;">reply</p>
                            </a>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
        {% endfor %}
    </div>

    <script src="{% static 'js/script.js' %}"></script>
    {% endblock content %}
</body>
</html>