<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>CurhatMe</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type = "text/css" href="{% static 'css/curhat.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Patua+One|Roboto+Slab&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-fixed-top navbar-expand-lg navbar-light bg-custom">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'authentication:homepage' %}">
                <img src="{% static 'images/logo.png' %}" width="85" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav justify-content-center d-flex flex-fill">
                    <li class="nav-item active">
                        <a class="nav-link  navbar-center" href="{% url 'thepost:timeline' %}"><img src="{% static 'images/write.png' %}" width="50"></a>
                    </li>
                </ul>
                <ul class="navbar-nav justify-content-center d-flex flex-fill">
                        <li class="nav-item active">
                            <a class="nav-link  navbar-center" href="{% url 'testimoni:testimoni' %}"><img src="{% static 'images/feedback.png' %}" width="50"></a>
                        </li>
                    </ul>
            </div>
        </div>
    </nav>

    <div class="button">
        <button class="search-btn" type="button" name="button" id="lihat">lihat reply</button>
    </div>

    <script type="text/javascript" src="{% static "js/reply.js" %}"></script>

</body>