<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>CurhatMe</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type = "text/css" href="{% static 'css/curhat.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Patua+One|Roboto+Slab&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-fixed-top navbar-expand-lg navbar-light bg-custom">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'authentication:homepage' %}">
                <img src="{% static 'images/logo.png' %}" width="85" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav justify-content-center d-flex flex-fill">
                    <li class="nav-item active">
                        <a class="nav-link  navbar-center" href="{% url 'thepost:timeline' %}"><img src="{% static 'images/write.png' %}" width="50"></a>
                    </li>
                </ul>
                <ul class="navbar-nav justify-content-center d-flex flex-fill">
                        <li class="nav-item active">
                            <a class="nav-link  navbar-center" href="{% url 'testimoni:testimoni' %}"><img src="{% static 'images/feedback.png' %}" width="50"></a>
                        </li>
                    </ul>
            </div>
        </div>
    </nav>

    <form action="{% url 'thereply:reply' %}" method="post">
        {% csrf_token %}
        <div class="form-row">
            <div class="col-sm-1"></div>
            <div class="form-group col-sm-10">
                <a class="modal-trigger" id="labelreply" for="id_reply" href="#modal1">Mau balas apa?</a>
                    {% for fields in form %}
                    <br>
                    {{ fields }}
                    {% endfor %}
                <input type="submit" class="btn btn-secondary btn-sm" value="reply" id="balas"></button>
            </div>
        </div>
    </form>

    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <p>tuliskan pendapatmu mengenai post tersebut!</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
    </div>

    <script type="text/javascript" src="{% static "js/modal.js" %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script
</body>