.bg-custom {
    background-color: #E5E5E5 !important;
    font-family: 'Amiko';
}

#beggrond{
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.thegrid{
    display: block;
}

.thegridbottom{
    text-align: center;
}

form{
    text-align: center;
}

.cihuy{
    text-align: center;
}

.thegrid h1{
    text-align: center;
    font-size: 5em;
}

#beritesti{
    margin-bottom: 1em;
    font-size: 1vw;
    font-weight: bold;
    letter-spacing: 2px;
    background-color: white;
    transition: 0.6 ease;
    border-radius: 30px;
    color: black;
    border: 3px solid;
    padding: .4rem .4rem
}

#beritesti:hover{
    margin-bottom: 1em;
    font-size: 1vw;
    font-weight: bold;
    letter-spacing: 2px;
    background-color: #d0e2d6;
    transition: 0.6 ease;
    border-radius: 30px;
    color: black;
    border: 3px solid;
    padding: .4rem .4rem
}

#tampiltesti{
    margin-bottom: 1em;
    font-size: 1vw;
    font-weight: bold;
    letter-spacing: 2px;
    background-color: white;
    transition: 0.6 ease;
    border-radius: 30px;
    color: black;
    border: 3px solid;
    padding: .4rem .4rem
}

#tampiltesti:hover{
    margin-bottom: 1em;
    font-size: 1vw;
    font-weight: bold;
    letter-spacing: 2px;
    background-color: #d0e2d6;
    transition: 0.6 ease;
    border-radius: 30px;
    color: black;
    border: 3px solid;
    padding: .4rem .4rem
}

.tampiltestiganti{
    margin-bottom: 1em;
    font-size: 1vw;
    font-weight: bold;
    letter-spacing: 2px;
    background-color: #d0e2d6;
    transition: 0.6 ease;
    border-radius: 30px;
    color: black;
    border: 3px solid;
    padding: .4rem .4rem
}

.tampiltestiganti:hover{
    margin-bottom: 1em;
    font-size: 1vw;
    font-weight: bold;
    letter-spacing: 2px;
    background-color: white;
    transition: 0.6 ease;
    border-radius: 30px;
    color: black;
    border: 3px solid;
    padding: .4rem .4rem
}

#headingatas{
    font-size: 6vw;
    margin-top: 3px;
    text-shadow: 5px 2px white;
}

.belakang{
    z-index: -1;
    width: 100%;
    height: auto;
    align-items: center;
    background-attachment: fixed;
    padding: 0;
}

.kontener{
    z-index: -1;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}

.bacgkround{
    z-index: -1;
}

.nama{
    width: 15vw;
}

.testi{
    width: 25vw;
}

.btn-primary{
   background-color: white;
}

.tomblo{
    font-size: 2em;
    text-align: center;
    background-color: transparent;
    -webkit-text-fill-color: black;
    height: 25vh;
    width: 30vw;
    transition: 0.6s ease;
    margin: autos;
    margin-bottom: 20px;
}

.tomblo:hover{
    font-size: 2em;
    text-align: center;
    background-color: transparent;
    -webkit-text-fill-color: black;
    height: 25vh;
    width: 30vw;
    transition: 0.6s ease;
    align-items: center;
    transform: scale(1.5);
    z-index: 2;
    transition: 0.3s ease-in;
    margin-bottom: 20px;
}

#hasilprint{
    height: auto;
    transition: 0.3s ease-in;
}

.card-body{
    padding: 1rem;
}

.card{
    /* width: 2em; */
    margin-bottom: 20px;
    box-shadow: 1px 1px 1px 1px black;
}

#hasilprint:hover{
    transform: scale(1.15);
    z-index: 2;
    transition: 0.3s ease-in;
}