{% load static %}
<nav class="navbar navbar-fixed-top navbar-expand-lg navbar-light bg-custom">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'authentication:homepage' %}">
            <img src="{% static 'images/logo.png' %}" width="85" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav justify-content-center d-flex flex-fill">
                <li class="nav-item active">
                    <a class="nav-link  navbar-center" href="{% url 'thepost:timeline' %}"><img src="{% static 'images/write.png' %}" width="50"></a>
                </li>
            </ul>
            <ul class="navbar-nav justify-content-center d-flex flex-fill">
                    <li class="nav-item active">
                        <a class="nav-link  navbar-center" href="{% url 'testimoni:testimoni' %}"><img src="{% static 'images/feedback.png' %}" width="50"></a>
                    </li>
                </ul>
        </div>
    </div>
</nav>