<!DOCTYPE html>
<html lang="en">
        <head>
        <meta charset="utf-8">
        {% load static %}
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="{% static 'css/navstyle.css' %}"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link href='https://fonts.googleapis.com/css?family=Amiko' rel='stylesheet'>
        <title>Curhatme | Testimoni!</title>
    </head>
    <body background="{% static 'images/bg.jpg' %}" id="beggrond">
        <header>
            {% block navbar %}
            {% include 'navbar/navbar.html' %}
            
            {% endblock navbar %}
        </header>
        <section class="grid isi text-center" id="curhat">
            <div class="container-fluid kontener">
                <div class="row aja">
                    <div class="col-md-12 thegrid">
                        <h1 id="headingatas">
                            Bagikan Pengalaman Curhatmu!
                        </h1>
                    </div>
                    <div class="col-md-12 thegridmid">
                        <form action="" method="POST">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn depan" data-toggle="modal" data-target="#exampleModalCenter" id="beritesti">
                                Berikan Testimoni!
                            </button>
                            <button type="button" class="btn ajakx" id="tampiltesti">
                                Tampilkan Testimoni
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalCenterTitle">Berikan Testimoni</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p class="judulnama"> Nama Kamu (atau tulis Anonymous): </p>
                                            <form id="myform">
                                                {% csrf_token %}
                                                {{ form.as_p }}
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="button submit" class="btn btn-primary">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
        <script src="{% static 'js/parallax.min.js' %}"></script>
        <script src="{% static 'js/ajaks.js' %}"></script>
    </body>
    </html>